html {
    font-size: 10px;
}

body {
    text-align: center;
}

button {
    text-align: center;
    /* background-color: #dddddd; */
    background-color: rgb(99, 184, 199);
    color: rgb(1, 70, 4);
    /* color: rgb(241, 40, 157); */
    width: 100%;
    height: 50px;
    font-weight: 600;
    font-size: 2.4rem;
    margin-bottom: 135px;
    border-color: transparent;
    border-radius: 7px;
}

button:hover {
    background-color: rgb(1, 70, 4);
    /* background-color: rgb(255, 0, 149); */
    color: rgb(99, 184, 199);
    /* color: #dddddd; */
}

img {
    width: 16rem;
    height: 16rem;
    border: rgb(99, 184, 199) 5px solid;
    border-radius: 5px;
    /* border: rgb(12, 32, 122, .3) 6px solid; */
}

.card-border {
    box-shadow: 1px 1px 4px 0px black;
}

img:hover{
    cursor: pointer;
    opacity: .8;
    border: rgb(1, 70, 4) 5px solid;
    /* border: rgb(255, 0, 149, .3) 6px solid; */
}

.card-dark {
    color: rgb(0, 0, 0, 1.0);
    /* background-color: rgb(0, 0, 0, .5); */
    background-color: rgb(1, 70, 4);
    border-radius: 7px;
 }

.card-blue {
    color: rgb(0, 0, 0, 1.0);
    /* background-color: rgb(12, 32, 122, .5); */
    background-color: rgb(99, 184, 199);
    font-size: 2rem;
    padding: 2rem;
    margin: 4rem 0;
    border-radius: 7px;
}

.cat-coin {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.cat-coin img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: rgb(99, 184, 199) 1px solid;
}

.cat-coin img:hover {
    border: rgb(99, 184, 199) 1px solid;
}

 .goal-and-score {
    font-size: 2rem;
} 

.img-row {
    padding: 4rem 4.8rem;
}

.my-card {
    height: 18rem;
    width: 22%;
    margin: 0 8%;
}

.relative {
    margin:4rem 0;
    width: 20%;
    position: relative;
}

.value-visibility {      
    cursor: pointer;
    /* color: rgb(99, 184, 199); */
    color: rgb(255, 0, 200);
    /* color: rgb(1, 70, 4); */
    /* color: rgb(241, 40, 157); */
    font-weight: bold;
    font-size: 4.8rem;
    position: absolute;
    top: 25%;
    right: 37%;
    z-index: 500;
    display: none;
}

#footer {
    padding: 0;
    position: fixed;
    z-index: 1000;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: justify;
    font-size: 1.5rem;
    color: white;
}

#current, #total{
    font-size: 6rem;
}

#goal-and-score {
    font-size: 2rem;
}

#head {
    top: 0;
    left: 0;
    width: 100%;
    font-size: 3.2rem;
    text-align: center;
}

#loss {
    color: rgb(245, 47, 47);
}

#instructions {

        text-align: justify;
}

#win {
    color:rgb(12, 148, 12);
}

#wins-and-losses {
    padding: 2rem 0 0 0;
    margin: 0;
    font-size: 4rem;
    font-style: oblique;
}

@media screen and (max-width: 1000px) {

    html {
        font-size: 8px;
    }

    img {
        width: 50%;
    }
    
    .card-dark {
        border-radius: 0;
        width: 33%;
     }
    
    .card-blue {
        border-radius: 0;
        width: 33%;
    }

    .my-card {       
        height: 150px;
        padding: 0;
        margin: 0;
    }

    .relative {
        width: 50%;
    }

    .value-visibility {
          font-weight: 500;
          font-size: 7rem;
          top: 30%;
          right: 45%;
      }

    #gem1, #val1,
    #gem2, #val2,
    #gem3, #val3,
    #gem4, #val4,
    #gem5, #val5 {
        width: 50%;        
        padding: 2rem 0;
    }

    #instructions {
        margin-bottom: 4rem;
        border-radius: 9px;
        margin-left: 5%;
        width: 90%;
    }
}

@media screen and (max-width: 767px) {

    img {
        width: 16rem;
        height: 16rem;
    }

    .card-blue {
        margin: 0;
    }

    .relative {
        margin: 0;
    }

    .value-visibility {
        right: 43%;
    }

    #button1 {
        width: 90%;
    }

    #total, #current {
        font-size: 5.6rem;
    }
}

@media screen and (max-width: 550px) {

    html {
        font-size: 7px;
    }

    img {
        width: 12.8rem;
        height: 12.8rem;
    }

    .value-visibility {
        font-size: 4rem;
        right: 40%;
    }

    #current, #total{
        font-size: 5rem;
    }

    #wins-and-losses {
        font-size:3rem;
    }
}